/*
 * Copyright (c) 2018-2021, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#include <t234-common-modules/ads22f7-01-camera-irs2877a.dtsi>


/* camera control gpio definitions */

/ {
	/*i2c 0*/
	i2c@c240000 {
		irs2877a_a@32 {
			def-addr = <0x32>;
		};
				
		sz220at_b@31 {
			def-addr = <0x31>;
		};
				
		irs2877a_a@34 {
			def-addr = <0x34>;
		};
				
		sz220at_b@33 {
			def-addr = <0x33>;
		};
	};
};
